{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        <a href="{{ url_for('login') }}" class="btn btn-link">Admin</a>
    </div>

    <!-- <br><br><br> -->
    <div class="container" style="min-height: 75px;">
        {% if submit=="true" :%}
        <h4 style="color: #0000FF; text-align: center;">Proses Submit Nilai Berhasil</h4>
        {% endif %}
    </div>
    <div class="container d-flex justify-content-center" id="form-home">
        <form action="{{ url_for('home') }}" id="my-form" method="POST" enctype=multipart/form-data>
            <h5>Silahkan isi NIM Mahasiswa dan Password</h5>
            <div class="form-group row">
                <label for="NIM" class="col-4 col-form-label">NIM</label>
                <div class="col-8">
                    <input type="text" class="form-control" name="NIM" id="NIM" >
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-4 col-form-label">Password</label>
                <div class="col-8">
                    <input type="password" class="form-control" name="password" id="password" >
                </div>
            </div>
            <div class="container" style="min-height: 40px; text-align: center;">
                {% if(message=="tidak ada"): %}
                    <p class="alert_" style="text-align: center;">NIM Mahasiswa tidak ditemukan di jadwal sidang</p>
                {% elif(message=="pwd salah"): %}
                    <p class="alert_" style="text-align: center;">Password salah</p>
                {% elif(message=="data sudah ada"): %}
                    <p class="alert_" style="text-align: center;">Nilai sidang TA Mahasiswa sudah dimasukkan ke database</p>
                {% endif %}
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-primary btn-lg" id="cari" name="cari" value="1">Login</button>
                <!-- <a href="#" class="btn btn-outline-primary btn-lg">Cari</a> -->
                <!-- &nbsp;  &nbsp; -->
                <!-- <button type="submit" class="btn btn-outline-primary btn-lg" id="cari" name="cari" value="0">Skip</button> -->
            </div>
        </form>
    </div>
{% endblock %}
