{% extends "base.html" %}
{% block title %}Unggah Dokumen{% endblock %}
{% block content %}
    <br><br><br>
    <div class="container d-flex justify-content-center" id="form-home" style="min-height: 400px;">
        <form action="{{ url_for('unggah') }}" id="unggah" name="unggah" method="POST" enctype=multipart/form-data style="width: 40%;">
            <p>Unggah Dokumen</p>
            <div class="row">
                <div class="col-9">
                    <div class="custom-file" >
                        <input type="file" class="custom-file-input" accept=".xlsx" id="customFile" name="file" required>
                        <label class="custom-file-label" for="customFile" >Pilih dokumen..</label>
                    </div>
                </div>
                <div class="col-3">
                    <button class="btn btn-outline-primary btn-md" id="unggah" name="unggah" value="1">Unggah</button>
                </div>
            </div>
            <div class="container" style="min-height: 40px;">
                {% if(message=="tidak sesuai"): %}
                    <p class="alert_" style="text-align: left;">Format file yang diunggah tidak sesuai dengan template</p>
                {% endif %}

            </div>
            <p>Pastikan format file yang digunakan sesuai dengan template</p>
            <a href="{{ url_for('download_files',filename='schedule_template.xlsx') }}" class="btn btn-primary">Unduh template</a>
            <br><br>
            {% if download=="true" :%}
            <h4 style="color: #0000FF; text-align: center;">Proses mengunggah dokumen berhasil</h4>
            {% endif %}
        </form>
    </div>
    <div class="container">
        <a href="{{ url_for('admin') }}" class="btn btn-primary">Kembali</a>
    </div>
    <br><br><br><br>
    {% if download=="true" :%}
    <script>


        setTimeout(function(){
            document.location = "{{ url_for('download_data',filename='',tipe='')}}{{filenames}}{{tipe}}";
            // setTimeout(function(){
            //     document.location = "{{ url_for('home') }}";
            // },2000)
        },100)
    </script>

    {% endif %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}
